<mat-toolbar class="header" color="primary">
    <span class="title">Kailash Adhikari </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" (click)="gotoGithub()">
                <fa-icon [icon]="['fab', 'github']"  size="2x"></fa-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="gotoLinkedin()">
                    <fa-icon [icon]="['fab','linkedin-in']"  size="2x"></fa-icon>
    </button>
    <button mat-icon-button class="example-icon">
            <fa-icon [icon]="['fab','twitter']" size="2x"></fa-icon>
    </button>

</mat-toolbar>
<div class="container" fxFlex="80" fxFill>
    <mat-tab-group class="tabs" mat-align-tabs="center" mat-stretch-tabs>
        <mat-tab label="Outline">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">perm_identity</mat-icon>
                About Me
            </ng-template>
            <app-outline></app-outline>
        </mat-tab>
        <mat-tab label="Skills">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">grade</mat-icon>
                Skills
            </ng-template>
            <app-skills></app-skills>
        </mat-tab>
        <mat-tab label="Experience">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">work</mat-icon>
                Experience
            </ng-template>
            <app-experience></app-experience>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">account_balance</mat-icon>
                Education
            </ng-template>
            <app-education></app-education>
        </mat-tab>
        <mat-tab label="Contact">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">contact_mail</mat-icon>
                Contact
            </ng-template>
            <app-contact></app-contact>
        </mat-tab>
    </mat-tab-group>
</div>