<mat-card class="overview-card">
    <mat-card-header class="card-header">
        <div mat-card-avatar class="example-header-image">
        </div>
        <mat-card-title>Overview</mat-card-title>
        <mat-card-subtitle>About me !!!!!</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-divider class="divider"></mat-divider>
        <mat-list class="list">
            <mat-list-item>
                <li>6 Years experience in complete software development life cycle.</li>
            </mat-list-item>
            <mat-list-item>
                <li>Hands on experience in CORE JAVA, JSP, Servlets and Jquery.</li>
            </mat-list-item>
            <mat-list-item>
                <li>Hands on experience in REST and SOAP based web services.</li>
            </mat-list-item>
            <mat-list-item>
                <li>Hands on experience with microservices architecture.</li>
            </mat-list-item>
            <mat-list-item>
                <li>Hands on experience with Netflix OSS (Eureka, Zuul) for microservices.</li>
            </mat-list-item>
            <mat-list-item>
                <li>Hands on experience with Docker technology.</li>
            </mat-list-item>
            <mat-list-item>
                <li>Hands on experience with Apache Kafka.</li>
            </mat-list-item>
            <mat-list-item>
                <li>Hands on experience in latest framework Spring and Hibernate</li>
            </mat-list-item>
            <mat-list-item>
                <li>Good knowledge Angular2.</li>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>