<mat-card class="overview-card">
    <mat-card-header class="card-header">
        <div mat-card-avatar class="example-header-image">
        </div>
        <mat-card-title>Overview</mat-card-title>
        <mat-card-subtitle>About me !!!!!</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="content">
        <mat-divider class="divider"></mat-divider>
        <p>Hi, I'm <span><strong>Kailash Adhikari,</strong></span> a Application developer and freelancer who loves to creates applications that attracts, engages, and converts customers.</p>
        <mat-list class="list">
            <ul>
                <li>6+ Years experience in complete software development life cycle.</li>
                <li>Hands on experience in
                    <mat-chip color="primary" selected>CORE JAVA</mat-chip>, JSP, Servlets and Jquery.</li>
                <li>Hands on experience in
                    <mat-chip color="primary" selected>REST</mat-chip> and
                    <mat-chip color="primary" selected>SOAP</mat-chip> based web services.</li>
                <li>Hands on experience with
                    <mat-chip color="primary" selected>Microservices</mat-chip> architecture.</li>
                <li>Hands on experience with
                    <mat-chip color="primary" selected>Netflix OSS (Eureka, Zuul)</mat-chip> for microservices.</li>
                <li>Hands on experience with
                    <mat-chip color="primary" selected>Docker</mat-chip> technology.</li>
                <li>Hands on experience with Apache
                    <mat-chip color="primary" selected>Kafka</mat-chip>,
                    <mat-chip color="primary" selected>Rabbit MQ</mat-chip>
                </li>
                <li>Hands on experience in latest framework Spring and Hibernate</li>
                <li>Hands on
                    <mat-chip color="primary" selected>Angular2</mat-chip>.</li>
            </ul>
        </mat-list>
    </mat-card-content>
</mat-card>.