.overview-card {
    margin: 2px;
    margin-left: 5px;
    padding: 50px;
    position: relative;
    border-radius: 0px;
}

.mat-card .mat-divider-horizontal {
    position: relative;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    height: 25px;
}

.content {
    margin: 2px;
    padding: 2px;
    font-size: 16px;
}

.list>ul>li {
    margin: 2px;
    padding: 2px;
}

mat-chip {
    padding: 2px;
    border-radius: 10px;
}