<mat-card class="overview-card">
    <mat-card-header class="card-header">
        <div mat-card-avatar class="example-header-image">

        </div>
        <mat-card-title>Skills</mat-card-title>
        <mat-card-subtitle>Technology stack i have worked on !!!!!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-divider class="divider"></mat-divider>
        <div class="skills-div">
            <div class="skills-list">
                <mat-list role="list">
                    <span class="text">Java</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">Microservices</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">Spring Boot</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">Spring-Core</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">Spring-MVC</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">Spring-Data</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">Spring-Cloud</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                    </mat-list-item>

                    <span class="text">Spring-JPA</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="skills-list">
                <mat-list role="list">
                    <span class="text">Reactive Java(Vertx Framework)</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">Apache kafka</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">Restful API</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">Docker</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">Hibernate</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">Angular</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">JUnit</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                    </mat-list-item>
                    <span class="text">XML/XSD</span>
                    <mat-list-item role="listitem">
                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </mat-card-content>
</mat-card>