<mat-card class="overview-card">
    <mat-card-header class="card-header">
        <div mat-card-avatar class="example-header-image">

        </div>
        <mat-card-title>Skills</mat-card-title>
        <mat-card-subtitle>Technology stack i have worked on !!!!!</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content layout-align='center center' layout='column'>
        <mat-divider class="divider"></mat-divider>
        <div id="skills-chart"></div>
    </mat-card-content>
</mat-card>