<mat-card class="overview-card">
    <mat-card-header class="card-header">
        <div mat-card-avatar class="example-header-image">

        </div>
        <mat-card-title>Experience</mat-card-title>
        <mat-card-subtitle>my experience with different MNC,s</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-divider class="divider"></mat-divider>
        <div class="main-container">
            <section id="timeline" class="timeline-outer">
                <div class="container" id="content">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <ul class="timeline">
                                <li class="event" data-date="2018-present">
                                    <h3>IBM India Pvt Ltd.</h3>
                                    <p>
                                        Java
                                    </p>
                                </li>
                                <li class="event" data-date="2016-2018">
                                    <h3>HCL Technologies</h3>
                                    <p>Description
                                    </p>
                                </li>
                                <li class="event" data-date="2013-2016">
                                    <h3>Velocis System & Cyber Q Consulting</h3>
                                    <p>Description
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <br />
        </div>
    </mat-card-content>
</mat-card>