<mat-card class="overview-card">
    <mat-card-header class="card-header">
        <div mat-card-avatar class="example-header-image">

        </div>
        <mat-card-title>Experience</mat-card-title>
        <mat-card-subtitle>my experience with different MNC,s</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-divider class="divider"></mat-divider>
        <div class="main-container">
            <section id="timeline" class="timeline-outer">
                <div class="container" id="content">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <ul class="timeline">
                                <li class="event" data-date="2018-present">
                                    <h3>IBM India Pvt Ltd.</h3>
                                    <h4>Application developer/ Senior System Engineer</h4>
                                    <ul>
                                        <li> Worked in IoT domain for NGSI-LD based context-broker development (ETSI Specification based). </li>
                                        <li> Worked on development of resource-server for IUDX india </li>
                                        <li> Worked on POC for edge computing in IoT domain</li>
                                        <li> Designed and developed various modules like subscriber module, API module etc.</li>

                                    </ul>

                                </li>
                                <li class="event" data-date="2016-2018">
                                    <h3>HCL Technologies</h3>
                                    <h4>Lead Engineer</h4>
                                    <ul>
                                        <li> Worked in ECM domain for IBM Filenet based solution. </li>
                                        <li> Worked on development of various modules/Workflows for solution </li>
                                        <li> Worked on Bulk file conversion and transfer utilities</li>
                                        <li> Worked on Adobe Livecyscle for PDF/A template.</li>

                                    </ul>
                                </li>
                                <li class="event" data-date="2013-2016">
                                    <h3>Velocis System & Cyber Q Consulting</h3>
                                    <h4>Senior Programmer</h4>
                                    <ul>
                                        <li> Worked in GIS domain solution. </li>
                                        <li> Worked on development of various modules for application. </li>
                                        <li> Worked on Bulk file validation utilities.</li>
                                        <li>Successfully deployed application for various clients.</li>
                                        <li> Worked on Adobe Jasper report for reports and templates.</li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <br />
        </div>
    </mat-card-content>
</mat-card>